.route-container {
  display: flex; /* flex */
  background-color: #f5f5f4; /* bg-stone-100 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  border-radius: 0.5rem; /* rounded-lg */
  overflow: hidden; /* overflow-hidden */
  margin-top: 1.25rem; /* mt-5 */
}

.main {
  margin-top: 120px;
}
